
body {
    // color: $primaryTextColor;
    background-color: $primaryBgColor;
    text-align: left;
    font-family: $primaryFontFam;
    font-size: 18px;
    margin: 0;
    padding: 0;
    }

.container {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
}
