$primaryTextColor:#2C4058;
$secondaryTextColor: #FFF;

$linkTextColor: #000;

$accentColor_blue-light: #55B7FF;
$accentColor_tomato-light: #F16A50;

$borderColor: #2C4058;

$primaryBgColor: #FFF;
$violetBgColor: #7E5AFF;
$blueBgColor: #55B7FF;

$headerGradientBG: linear-gradient(243deg, #7E5AFF 16.9%, #55B7FF 83.27%);
$newsGradientBG: linear-gradient(237deg, rgb(36, 204, 250) 11.16%, rgb(60, 127, 212) 89.18%);


$dotColorInactive: #F8F1EA;
$darkDotColorInactive: #CAC2BA;

$arrowInactive: #202020;

$transitionFunc: 0.5s ease;

$primaryFontFam: 'Montserrat', sans-serif;
$secondaryFontFam: 'Open Sans', sans-serif;


// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
