@import './base/reset';
@import './components/hamburgers';

@import './utils/variables';

@import './utils/mixins';

@import './components/container';


body.fixed{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.page_wrapper{
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}


// HEADER-------------------------
.header {
    background: transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    &.with-bg{
        background-color: rgba($accentColor_blue-light,0.2);
        backdrop-filter: blur(4.5px);  
    }
}
.header .container{
    margin: 0 auto;
    padding: 40px 0;
    @include mobile{
        padding: 0px 0px;
    }
}
.main_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper {
    width: 241px;
    height: 54px;
    display: flex;
    align-items: center;
    @include tablet{
        width: 140px;
        height: auto;
        margin-top: 5px;
    }
    @include mobile{
        width: 120px;
        height: auto;
    }
}
.logo-wrapper .logo_link {
    transition: transform 0.3s ease;
&:hover, &:focus{
    transform: scale(1.2);
}
}
.logo {
    width: 100%;
    object-fit: contain;
    object-position: left;
}

// header navigation
.nav-list_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 93px;
    @include tablet{
        gap: 35px;
    }
}

.nav_item {
    list-style-type: circle;
    color: $primaryTextColor;
    padding: 18px 0 18px 0;
    transition: all .3s ease;
    &::marker {
        line-height: 9px;
        font-size: 23px;
        color: $secondaryTextColor;
    }
    &:focus, &:hover {
        list-style: disc;
        .nav_link {
        color: $accentColor_blue-light;}
    }
}

.nav_link {
    display: block;
    @include menuText;
    transition: all .3s ease;
    @include tablet{
        font-size: 14px;
    }
}

// social links icons
.social-links-wrapper {
    @include mobile{
        padding-right: 42px;
    }
       
}
.social-link-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    @include tablet{
         gap: 10px;
    }
    @include mobile{
        gap: 10px;  
    }
    @include smallmobile{
        display: none;
    }
}
.social-link {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($secondaryTextColor, .4);
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.3s ease;
    @include tablet{
        width: 30px;
        height: 30px;
        i {
            font-size: 16px;
        }
    }
    @include mobile{
        width: 20px;
        height: 20px;
        i {
            font-size: 12px;
        }
    }
}
.social-link-item{
    &:hover .social-link,
    &:focus .social-link {
        transform: scale(1.1);
        border-color: $primaryTextColor;  
    }     
    &:hover .icon-social-link,
    &:focus .icon-social-link{
        color: $primaryTextColor;
    }}


.icon-social-link {
    font-size: 18px;
    color: $secondaryTextColor;
    transition: all 0.3s ease;
}


// hamburger
.hamburger{
    position: relative;
    display: none;
}


// MAIN CONTENT------------------
// SECTION HERO

.hero{
    position: relative;
    
}
.hero-slider .hero-slider-item{
    background-image: url('../assets/images/hero-bg1-desktop-2x.jpg');
    }
.hero-slider.middle .hero-slider-item{
        background-image: url('../assets/images/hero-bg2-desktop-2x.jpg');
        }
.hero-slider.last .hero-slider-item{
    background-image: url('../assets/images/hero-bg3-desktop-2x.jpg');
    }
.hero-slider-item { 
    width: 100%;
    height: 100vh;
    min-height: 800px;
    margin: 0;
    text-align: center;
    padding-top: 328px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    @include tablet {
        padding-top: 355px;
    }
    @include mobile {
        min-height: 400px;
        padding: 131px 10px 30px 10px;
    } 
    
}
.slide-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include mobile{
        
    }
}

.hero-title {
    @include h1;
    color: $secondaryTextColor;
    margin-bottom: 20px;
}
.section-description {
    @include heroDescription;
    color: $secondaryTextColor;
}
.btn-scroll {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid rgba($secondaryTextColor, 0.5);
    border-radius: 50%;
    transition: all $transitionFunc;
    &:focus, &:hover{
        border-color: rgba($secondaryTextColor, 1);   
        transform: scale(1.2);
        .fa-angle-down:before {
            color:rgba($secondaryTextColor, 1);
        }
    }
    @include mobile {
        width: 30px;
        height: 30px;
    }
}
.fa-solid .fa-angle-down {
    position: relative;
    color: $secondaryTextColor;
    font-size: 12px;
}
.fa-angle-down:before {
    content: "\f107";
    color:rgba($secondaryTextColor, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    transition: all $transitionFunc;
}


// PROJECTS SECTION
.projects .container{
    padding-top: 130px;
    padding-bottom: 150px;
    @include mobile {
        padding-top: 30px;
        padding-bottom: 50px;
    }   
}

.section-title {
    text-align: center;
    position: relative;
    @include h2;
    color: $primaryTextColor;
    margin-bottom: 147px;
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        right: 0;
        top:  -30px;
        transform: translateX(-50%);
        display: inline-block;
        width: 100px;
        height: 1px;
        background-color: $primaryTextColor;
        @include mobile {
        top:  -10px;
        } 
    }    
}
.projects-list_wrapper {
display: flex;

}
.projects-list {
    display: flex;
    flex-direction: column;
    gap: 177px;
    justify-content: center;
    align-items: center;
    @include mobile {
        gap: 40px;
    }
}
.project-items {
    flex-basis: calc((100% - 177px / 2));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:last-child{
        flex-direction: row-reverse;
    }
}
.project-image_wrapper {
    height: 100%;
    flex-basis: 54%;
    position: relative;
    @include mobile {
        display: none;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    .bg-image {
    position: absolute;
    z-index: -5;
    width: 585px;
    height: 470px;
    &.blue{
        left: -215px;
        top: -57px;
        right: 0;
        background-color: $blueBgColor;
    }
    &.violet{
        top: -57px;
        right: -217px;
        background-color: $violetBgColor;
        }
    }
    
}
.project-description_wrapper {
    flex-basis: 46%;
    text-align: left;
    &.right{
        padding: 94px 5px 26px 70px;
        @include mobile {
            padding: 0;
            text-align: center;
        }
    }
    &.left{
        padding: 94px 64px 26px 5px;
        @include mobile {
            padding: 0;
            text-align: center;
        }
    }

}
.project-subtitle {
    @include subh2;
}
.project-title {
    @include h2;
    margin-bottom: 19px;
}
.project-description {
    @include paragraph;
    margin-bottom: 40px;
}
.btn-details {
    @include btn-large;
    padding: 16px 41px 17px 41px;
    margin-bottom: 60px;
}
.project-map-link {
    display: inline-block;
    @include adresslink;
    color: $primaryTextColor;
    transition: all $transitionFunc;
    span{
        font-size: 17px;
        margin-right: 10px;
    }
    &:hover, &:focus{
        transform: scale(1.2);
    }
}
// NEWS SECTION
.news {
    background-image:url(../assets/images/newsBg-desktop-2x-1.png), $newsGradientBG;
    background-position: center top, center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .container {
        padding-top: 130px;
        padding-bottom: 150px;
    }
}
.news .section-title {
    color: $secondaryTextColor;
    &::before{
        background-color: $secondaryTextColor;
    }
}

.news-list {
    width: 100%;
    height: 100%;
}

.news_wrapper {
    max-width: 370px;
    min-height: 514px;
    margin: 0 auto;
    @include tablet{
        min-width: 280px;
    }
}
.news-card_wrapper {
    text-align: left;
    background-color: $secondaryTextColor;
}
.news-img-wrapper {
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}
.news-card-info{
    padding: 30px 20px 40px;
}
.news-card-title {
    @include h3;
    margin-bottom: 15px;
}
.news-card-description {
    @include paragraph;
}
.news-user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0px 20px 30px;
}
.news-user-avatar {
    width: 60px;
    height: 60px;
    img{
        width: 100%;
        border-radius: 50%;  
    }
    
}
.news-user-name {
    @include userName;
    margin-bottom: 6px;
}
.news-data-public {
    @include data;
    color: $accentColor_blue-light;
}
// SECTION GALLERY
.gallery .container {
    padding-top: 130px;
    padding-bottom: 150px;
}
.section-title {
    margin-bottom: 90px;

}
 
.gallery-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    @include mobile{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
    @include mobile {
        padding: 0;
    }

}
li.gallery-item {
    position: relative;
    // 
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    // 
    &:nth-child(1) { grid-area: 1 / 1 / 3 / 3; }
    &:nth-child(2) { grid-area: 1 / 3 / 2 / 4; }
    &:nth-child(3) { grid-area: 1 / 4 / 2 / 5; }
    &:nth-child(4) { grid-area: 2 / 3 / 3 / 4; }
    &:nth-child(5) { grid-area: 2 / 4 / 3 / 5; }
    @include mobile{
        &:nth-child(1) { grid-area: 1 / 1 / 2 / 2;}
        &:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
        &:nth-child(3) { grid-area: 3 / 1 / 4 / 2; }
        &:nth-child(4) { grid-area: 4 / 1 / 5 / 2; }
        &:nth-child(5) { grid-area: 5 / 1 / 6 / 2; }
    }
    a {
        position: relative;
    }
    &:hover a:before, &:focus a:before{
        content: '';
        width: 70px;
        height: 70px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 5;
        background-image: url('../assets/images/search.svg');
        background-repeat: no-repeat;
        background-size: 70px 70px;
    } 
    @include tablet {
    &:hover a:before, &:focus a:before{
        content: "";
        width: 40px;
        height: 40px;
        display: inline-block;
        position: absolute;
        left: 52%;
        top: 56%;
        transform: translate(-50%,-50%);
        z-index: 5;
        background-image: url(../assets/images/search.svg);
        background-repeat: no-repeat;
        background-size: 40px 40px;
        }
    }
    @include mobile {
        &:hover a:before, &:focus a:before{
            width: 70px;
            height: 70px;
            background-size: 70px 70px;
            }
        }
} 

.gallery-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .gallery-image:hover {
        transform: scale(1.03);
}
//   

.btn-more {
    @include btn-large;
    padding: 16px 57px 17px;
    margin: 60px auto 0 auto;
}
// SECTION MAP
.map-section{
    position: relative;
}

#map{
    height: 700px;
    img {
        height: 100%;
        object-fit: cover;
    }
}
.leaflet-popup-content {
    margin: 15px 20px;
    font-family: $primaryFontFam;
    font-style: italic;
    line-height: 1.3;
    font-size: 14px;
    font-size: 1.08333em;
    min-height: 1px;
    text-transform: uppercase;
    color: $primaryTextColor;

}
.leaflet-popup-content-wrapper {
    padding: 8px;
    text-align: center;
    border-radius: 12px;
}

element.style {
    opacity: 1;
    transform: translate3d(403px, 274px, 0px);
    bottom: -14px;
    left: -99px;
}
// SECTION CONTACTS

.contacts .container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 414px;
    z-index: 9999;
    height: 540px;
    max-width: 770px;
    background-color: #fff;
    padding: 90px 60px 68px;
    display: none;
    @include tablet {
        bottom: 150px;
        padding: 40px 20px;
    }
    @include mobile {
        bottom: 50px;
        height: auto;
        max-width: 280px;
        padding: 20px 5px 20px;
    }
    &.active{
        display: block;
    }
    .section-title {
        @include tablet {
            margin-bottom: 40px;
        }
        @include mobile {
            margin-bottom: 20px;
        }
    }
}

.contacts-section_wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 54px;
    @include mobile {
        flex-direction: column;
        align-items: center;
        }
}
.contacts-close-btn{
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #2C4058;
    position: absolute;
    right: -20px;
    top: -200px;
    z-index: 55;
    font-weight: 700;
    opacity: .7;
    transition: all $transitionFunc;
    &:hover,&:focus{
        transform: scale(1.2);
        opacity: 1;
    }
    @include tablet {

    }
    @include mobile {
        right: 0px;
        top: -150px;
    }
}
.contacts_wrapper {
flex-basis: calc((100% - 54px) / 2);
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 35px;
@include mobile {
    width: 80%;
    }
}
.contact_link_tel {
    display: inline-block;
    @include adresslink;
    color: $primaryTextColor;
    transition: all $transitionFunc;
    span{
        font-size: 17px;
        margin-right: 10px;
    }
    &:hover, &:focus{
        transform: scale(1.2);
    }
}
.contact_map_link {
    display: inline-block;
    @include contacts;
    color: $primaryTextColor;
    transition: all $transitionFunc;
    span{
        font-size: 17px;
        color: #7E5AFF;
        margin-right: 10px;
    }
    &:hover, &:focus{
        transform: scale(1.2);
    }
}
.contact_link_phone {
    display: inline-block;
    @include contacts;
    color: $primaryTextColor;
    transition: all $transitionFunc;
    span{
        font-size: 17px;
        color: #7E5AFF;
        margin-right: 10px;
    }
    &:hover, &:focus{
        transform: scale(1.2);
    }

}
.contact_link_email {
    display: inline-block;
    @include contacts;
    color: $primaryTextColor;
    transition: all $transitionFunc;
    span{
        font-size: 17px;
        color: #7E5AFF;
        margin-right: 10px;
    }
    &:hover, &:focus{
        transform: scale(1.2);
    }

}
.contact_workhours {
    display: inline-block;
    @include contacts;
    color: $primaryTextColor;
    span{
        font-size: 17px;
        color: #7E5AFF;
        margin-right: 10px;
    }
}
.form_wrapper {
    flex-basis: calc((100% - 54px) / 2);
    fieldset{
        border: none;
    }
    @include mobile {
        width: 80%;
        }
}
.form {
    width: 100%;
}
.form-field {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    &:first-child{
        margin-bottom: 26px;
    }
}
.form-input {
    position: relative;
    width: 100%;
    min-height: 48px;
    outline: transparent;
    color: $primaryTextColor;
    @include contacts;
    font-size: 18px;
    border-bottom: 1px solid rgba($primaryTextColor, .5);
    overflow: visible;  
    &::placeholder{
        position: absolute;
        bottom: 14px;
        left: 0px;
        z-index: 2;
        @include contacts; 
        opacity: .5;
    }
    &:hover, &:focus{
    border-color: $primaryTextColor;
    }
    
}
.btn-submit {
    @include btn-large;
    padding: 11px 34px 12px;
    margin: 30px 0px 0px auto;
    @include mobile {
        margin: 30px auto 0px auto;
        }
    &:disabled{
        opacity: 0.3;
        &:hover, &:focus{
            pointer-events: none;
            color: $primaryTextColor;
            background-color: transparent;
            border: 1px solid $borderColor;
        }
    }

}
.form-text.error {
    color: #f00;
}
.form-text {
    margin-top: 0.25rem;
    margin-bottom: 0;
    font-size: 0.8em;
    color: rgba($accentColor_blue-light, 1);
    font-style: italic;
}

// footer section

.footer{
    position: relative;
    .get-intouch{
        @include btn-large; 
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 12;
        padding: 11px 11px;
        color:$secondaryTextColor;
        border: 2px solid $secondaryTextColor;
        transition: all .9s ease;
        border-radius: 10px;
        background-color: transparent;
        &:hover,&:focus{
            color:$primaryTextColor;
            border: 2px solid $primaryTextColor;
            background-color: transparent;
        }
        @include mobile{
            font-size: 10px;
            padding: 1px 5px;
            top: 10px;
        }
    }
    & .logo-wrapper {
        width: 241px;
        height: 54px;
        @include tablet{
            width: 140px;
            height: auto;
        }
        @include mobile{
            width: 120px;
            height: auto;
        }
        @include mobile {
            margin-top: 40px;
        }
    }
}
.footer {
    background-image:url(../assets/images/footerBg-desktop-2x.png), $newsGradientBG;
    background-position: center top, center top;
    background-repeat: no-repeat;
    background-size: 100% 800px;
    .container {
    padding: 209px 200px 234px 200px;
    @include tablet {
        padding: 100px 100px 100px 100px;
    }
    @include mobile {
        padding: 50px 50px 50px 50px;
    }}
}
.footer_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
}
.footer .social-links-wrapper {
    @include mobile {
    padding-right: 0;
    }
}
.copyright-box{
    text-align: center;
}
.footer-copyright {
    text-align: left;
    display: inline-block;
    @include copyright;
    color: $secondaryTextColor; 
    margin-top: 40px;
    @include mobile {
        margin-top: 0;
    text-align: center;
}
}

// // TABLET STYLES-------------------
@media screen and (min-width: 768px) and (max-width: 1199px)  {

}
// // MOBILE STYLES
@media screen and (min-width: 260px) and (max-width: 767px)  { 

.header{
    &.menu-open::after{
        content: '';
        display: block;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, .5);
    }
}
.main_nav {
    padding: 0;
    }
    .nav_link {
        display: block;
        @include menuText;
        padding: 28px 15px;
            &:focus, &:hover {
            color: $secondaryTextColor;
            background-color: $accentColor_blue-light;
        }
    }
.header .nav_list{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: 6;
    height: 80vh;
    width: 90%;
    background-color: $borderColor;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    transition: all 1s ease;
    transform: translateY(-100vH);
    opacity: 0;
    padding-top: 60px;
    .nav_item {
        list-style-type: none;
    }
    & .nav_link{
        font-size: 23px;
        font-weight: 700;
        text-align: center;
        &:focus, &:hover {
            color: $accentColor_blue-light;
            background-color: transparent;
        }
    }
    &.active{
        transform: none;
        opacity: 1;
    }
    &:hover .nav_item::after{
        background-color: $accentColor_blue-light;
    }
}
.header .nav_list .nav_item::after{
        content: '';
        width: 44px;
        height: 3px;
        position: absolute;
        background-color: rgba($accentColor_blue-light, 0.3);
        left: 50%;
        transform: translateX(-50%);
}

 .hamburger{
    display: inline-block;
    position: absolute;
    top: 15px;
    right: -5px;
    z-index: 999;
    transition: all 0.3s ease;
    .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
        background-color: rgba($secondaryTextColor, .9);
    }
    &.is-active{
        transform: translatex(-40px);
        .hamburger-inner{
            color: rgba($secondaryTextColor, .9);
        }
        
    }
    
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
    background-color: #fff;
}
 .header {
    padding: 20px 0;
    }
.logo-wrapper {
    height: initial;
    }
.arrow-left, .arrow-right{
        display: none;
    }
.footer.active{
        display: none;
    }
}

//SLICK SLIDER
// GENERAL



// HERO
.hero .slick-list{
    overflow: hidden;
}
.hero .slick-slider{
    width: 100%;
    height: 100%;
}
.hero .slick-track {
    display: flex;
    flex-direction: column;
}
.hero .slick-dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10px;
    gap: 40px;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    li {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #fff;
        color: transparent; 
        cursor: pointer;
        button{
            &:before {
                display: inline-block;
                font-size: 10px;
                width: 10px;
                height: 18px;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                color: transparent;
            }
            :hover button::before,
            :focus button::before{
                color: $accentColor_blue-light;
            }
        }

        
    }        
    li.slick-active button{
        font-size: 0;
        line-height: 0;
        display: block;
        width: 10px;
        height: 10px;
        padding: 0px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        &::before {
            height: 18px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
            opacity: 1;    
        } 
    }
}
// NEWS
.news .slick-track {
    display: flex;
    gap: 30px;
    @include smallmobile {
        gap: 0;
    }
}
.news .slick-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10px;
    gap: 40px;
    left: 0;
    bottom: -45px;
    transform: translateY(-50%);
    justify-content: center;
    li {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #fff;
        color: transparent; 
        cursor: pointer;
        button{
            &:before {
                display: inline-block;
                font-size: 10px;
                width: 10px;
                height: 10px;
                bottom: 0;
                left:50%;
                transform: translatex(-50%);
                color: transparent;
            }
            :hover button::before,
            :focus button::before{
                color: $accentColor_blue-light;
            }
        }

        
    }        
    li.slick-active button{
        font-size: 0;
        line-height: 0;
        display: block;
        width: 10px;
        height: 10px;
        padding: 0px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        &::before {
            height: 18px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
            opacity: 1;    
        } 
    }
}
.news .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px;
    &.slick-prev{
        left: -60px;
        border-radius: 50%;
        background: url('../assets/images/arrow-left.svg') 0 0 / 100% no-repeat;
        transition: all $transitionFunc;
        @include tablet{
            left: -20px;
        }
        &:hover, &:focus{
            background: url('../assets/images/arrow-left.svg') 0 0 / 100% no-repeat;
            background-color: rgba($arrowInactive, 0.2);
            ;
        }
        &:before {
            content: none;
        }
    }
    &.slick-next{
        border-radius: 50%;
        right: -60px;
        background: url('../assets/images/arrow-right.svg') 0 0 / 100% no-repeat;
        transition: all $transitionFunc;
        @include tablet{
            right: -20px;
        }
        &:hover, &:focus{
            background: url('../assets/images/arrow-right.svg') 0 0 / 100% no-repeat;
            background-color: rgba($arrowInactive, 0.2);
        }
        &:before {
            content: none;
        }
    }
}

// scroll to up
.to-top {
    background:rgba($accentColor_blue-light, 0.5);
    position: fixed;
    z-index:999;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color: $secondaryTextColor;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    &:hover {
      background: rgba($accentColor_blue-light, 1);
      color: #fff;
    }
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }


