@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}

input, button {
  outline: none;
  border: none;
  background-color: transparent;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #2C4058;
}

.hamburger-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: calc($hamburger-layer-height/-2);
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 20px;
  height: 2px;
  background-color: #2C4058;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -9px;
}
.hamburger-inner::after {
  bottom: -9px;
}

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  src: url(./fonts/Sourcesanspro/SourceSansPro-Regular.otf) format("otf"), url(./fonts/Sourcesanspro/SourceSansPro-Regular.ttf) format("ttf"), url(./fonts/Sourcesanspro/SourceSansPro-Regular.woff) format("woff");
}
body {
  min-height: 100%;
  background-color: #FFF;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1320px;
  margin: 0 auto;
}

body.fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.page_wrapper {
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.header {
  background: transparent;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
.header.with-bg {
  background-color: rgba(85, 183, 255, 0.2);
  backdrop-filter: blur(4.5px);
}

.header .container {
  margin: 0 auto;
  padding: 40px 0;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .header .container {
    padding: 0px 0px;
  }
}

.main_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  width: 241px;
  height: 54px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .logo-wrapper {
    width: 140px;
    height: auto;
    margin-top: 5px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .logo-wrapper {
    width: 120px;
    height: auto;
  }
}

.logo-wrapper .logo_link {
  transition: transform 0.3s ease;
}
.logo-wrapper .logo_link:hover, .logo-wrapper .logo_link:focus {
  transform: scale(1.2);
}

.logo {
  width: 100%;
  object-fit: contain;
  object-position: left;
}

.nav-list_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 93px;
}
@media screen and (max-width: 1199px) {
  .nav_list {
    gap: 35px;
  }
}

.nav_item {
  list-style-type: circle;
  color: #2C4058;
  padding: 18px 0 18px 0;
  transition: all 0.3s ease;
}
.nav_item::marker {
  line-height: 9px;
  font-size: 23px;
  color: #FFF;
}
.nav_item:focus, .nav_item:hover {
  list-style: disc;
}
.nav_item:focus .nav_link, .nav_item:hover .nav_link {
  color: #55B7FF;
}

.nav_link {
  display: block;
  color: #FFF;
  font-family: "SourceSansPro";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1199px) {
  .nav_link {
    font-size: 18px;
  }
}
@media screen and (max-width: 1199px) {
  .nav_link {
    font-size: 14px;
  }
}

@media screen and (min-width: 306px) and (max-width: 767px) {
  .social-links-wrapper {
    padding-right: 42px;
  }
}

.social-link-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 1199px) {
  .social-link-list {
    gap: 10px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .social-link-list {
    gap: 10px;
  }
}
@media screen and (min-width: 180px) and (max-width: 305px) {
  .social-link-list {
    display: none;
  }
}

.social-link {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1199px) {
  .social-link {
    width: 30px;
    height: 30px;
  }
  .social-link i {
    font-size: 16px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .social-link {
    width: 20px;
    height: 20px;
  }
  .social-link i {
    font-size: 12px;
  }
}

.social-link-item:hover .social-link, .social-link-item:focus .social-link {
  transform: scale(1.1);
  border-color: #2C4058;
}
.social-link-item:hover .icon-social-link, .social-link-item:focus .icon-social-link {
  color: #2C4058;
}

.icon-social-link {
  font-size: 18px;
  color: #FFF;
  transition: all 0.3s ease;
}

.hamburger {
  position: relative;
  display: none;
}

.hero {
  position: relative;
}

.hero-slider .hero-slider-item {
  background-image: url("../assets/images/hero-bg1-desktop-2x.jpg");
}

.hero-slider.middle .hero-slider-item {
  background-image: url("../assets/images/hero-bg2-desktop-2x.jpg");
}

.hero-slider.last .hero-slider-item {
  background-image: url("../assets/images/hero-bg3-desktop-2x.jpg");
}

.hero-slider-item {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  margin: 0;
  text-align: center;
  padding-top: 328px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
@media screen and (max-width: 1199px) {
  .hero-slider-item {
    padding-top: 355px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .hero-slider-item {
    min-height: 400px;
    padding: 131px 10px 30px 10px;
  }
}

.slide-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hero-title {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 40px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .hero-title {
    font-size: 18px;
  }
}

.section-description {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5.4px;
  text-transform: uppercase;
  color: #FFF;
}
@media screen and (max-width: 1199px) {
  .section-description {
    font-size: 14px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .section-description {
    font-size: 18px;
  }
}

.btn-scroll {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: all 0.5s ease;
}
.btn-scroll:focus, .btn-scroll:hover {
  border-color: white;
  transform: scale(1.2);
}
.btn-scroll:focus .fa-angle-down:before, .btn-scroll:hover .fa-angle-down:before {
  color: white;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .btn-scroll {
    width: 30px;
    height: 30px;
  }
}

.fa-solid .fa-angle-down {
  position: relative;
  color: #FFF;
  font-size: 12px;
}

.fa-angle-down:before {
  content: "";
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  transition: all 0.5s ease;
}

.projects .container {
  padding-top: 130px;
  padding-bottom: 150px;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .projects .container {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

.section-title {
  text-align: center;
  position: relative;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2C4058;
  margin-bottom: 147px;
}
@media screen and (max-width: 1199px) {
  .section-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .section-title {
    font-size: 26px;
  }
}
.section-title::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 0;
  top: -30px;
  transform: translateX(-50%);
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #2C4058;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .section-title::before {
    top: -10px;
  }
}

.projects-list_wrapper {
  display: flex;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 177px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .projects-list {
    gap: 40px;
  }
}

.project-items {
  flex-basis: calc((100% - 177px / 2));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.project-items:last-child {
  flex-direction: row-reverse;
}

.project-image_wrapper {
  height: 100%;
  flex-basis: 54%;
  position: relative;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .project-image_wrapper {
    display: none;
  }
}
.project-image_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.project-image_wrapper .bg-image {
  position: absolute;
  z-index: -5;
  width: 585px;
  height: 470px;
}
.project-image_wrapper .bg-image.blue {
  left: -215px;
  top: -57px;
  right: 0;
  background-color: #55B7FF;
}
.project-image_wrapper .bg-image.violet {
  top: -57px;
  right: -217px;
  background-color: #7E5AFF;
}

.project-description_wrapper {
  flex-basis: 46%;
  text-align: left;
}
.project-description_wrapper.right {
  padding: 94px 5px 26px 70px;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .project-description_wrapper.right {
    padding: 0;
    text-align: center;
  }
}
.project-description_wrapper.left {
  padding: 94px 64px 26px 5px;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .project-description_wrapper.left {
    padding: 0;
    text-align: center;
  }
}

.project-subtitle {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .project-subtitle {
    font-size: 18px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .project-subtitle {
    font-size: 16px;
  }
}

.project-title {
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 19px;
}
@media screen and (max-width: 1199px) {
  .project-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .project-title {
    font-size: 26px;
  }
}

.project-description {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1199px) {
  .project-description {
    font-size: 12px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .project-description {
    font-size: 18px;
    line-height: 30px;
  }
}

.btn-details {
  width: max-content;
  display: block;
  position: relative;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 27px;
  color: #2C4058;
  background-color: transparent;
  transition: all 0.5s ease;
  padding: 11px 34px;
  border: 1px solid #2C4058;
  padding: 16px 41px 17px 41px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .btn-details {
    font-size: 16px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .btn-details {
    font-size: 18px;
  }
}
.btn-details:hover, .btn-details:focus {
  color: #FFF;
  background-color: #55B7FF;
  border: 2px solid #55B7FF;
}

.project-map-link {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  color: #2C4058;
  transition: all 0.5s ease;
}
.project-map-link span {
  font-size: 17px;
  margin-right: 10px;
}
.project-map-link:hover, .project-map-link:focus {
  transform: scale(1.2);
}

.news {
  background-image: url(../assets/images/newsBg-desktop-2x-1.png), linear-gradient(237deg, #24ccfa 11.16%, #3c7fd4 89.18%);
  background-position: center top, center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.news .container {
  padding-top: 130px;
  padding-bottom: 150px;
}

.news .section-title {
  color: #FFF;
}
.news .section-title::before {
  background-color: #FFF;
}

.news-list {
  width: 100%;
  height: 100%;
}

.news_wrapper {
  max-width: 370px;
  min-height: 514px;
  height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .news_wrapper {
    min-width: 280px;
  }
}

.news-card_wrapper {
  height: 100%;
  text-align: left;
  background-color: #FFF;
}

.news-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.news-card-info {
  padding: 30px 20px 40px;
}

.news-card-title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media screen and (max-width: 1199px) {
  .news-card-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .news-card-title {
    font-size: 16px;
  }
}

.news-card-description {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
@media screen and (max-width: 1199px) {
  .news-card-description {
    font-size: 12px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .news-card-description {
    font-size: 18px;
    line-height: 30px;
  }
}

.news-user-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 0px 20px 30px;
}

.news-user-avatar {
  width: 60px;
  height: 60px;
}
.news-user-avatar img {
  width: 100%;
  border-radius: 50%;
}

.news-user-name {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 6px;
}
@media screen and (max-width: 1199px) {
  .news-user-name {
    font-size: 16px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .news-user-name {
    font-size: 18px;
  }
}

.news-data-public {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #55B7FF;
}
@media screen and (max-width: 1199px) {
  .news-data-public {
    font-size: 12px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .news-data-public {
    font-size: 14px;
  }
}

.gallery .container {
  padding-top: 130px;
  padding-bottom: 150px;
}

.section-title {
  margin-bottom: 90px;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .gallery-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .gallery-list {
    padding: 0;
  }
}

li.gallery-item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
li.gallery-item:nth-child(1) {
  grid-area: 1/1/3/3;
}
li.gallery-item:nth-child(2) {
  grid-area: 1/3/2/4;
}
li.gallery-item:nth-child(3) {
  grid-area: 1/4/2/5;
}
li.gallery-item:nth-child(4) {
  grid-area: 2/3/3/4;
}
li.gallery-item:nth-child(5) {
  grid-area: 2/4/3/5;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  li.gallery-item:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  li.gallery-item:nth-child(2) {
    grid-area: 2/1/3/2;
  }
  li.gallery-item:nth-child(3) {
    grid-area: 3/1/4/2;
  }
  li.gallery-item:nth-child(4) {
    grid-area: 4/1/5/2;
  }
  li.gallery-item:nth-child(5) {
    grid-area: 5/1/6/2;
  }
}
li.gallery-item a {
  position: relative;
}
li.gallery-item:hover a:before, li.gallery-item:focus a:before {
  content: "";
  width: 70px;
  height: 70px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-image: url("../assets/images/search.svg");
  background-repeat: no-repeat;
  background-size: 70px 70px;
}
@media screen and (max-width: 1199px) {
  li.gallery-item:hover a:before, li.gallery-item:focus a:before {
    content: "";
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 52%;
    top: 56%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-image: url(../assets/images/search.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  li.gallery-item:hover a:before, li.gallery-item:focus a:before {
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
  }
}

.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  transform: scale(1.03);
}

.btn-more {
  width: max-content;
  display: block;
  position: relative;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 27px;
  color: #2C4058;
  background-color: transparent;
  transition: all 0.5s ease;
  padding: 11px 34px;
  border: 1px solid #2C4058;
  padding: 16px 57px 17px;
  margin: 60px auto 0 auto;
}
@media screen and (max-width: 1199px) {
  .btn-more {
    font-size: 16px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .btn-more {
    font-size: 18px;
  }
}
.btn-more:hover, .btn-more:focus {
  color: #FFF;
  background-color: #55B7FF;
  border: 2px solid #55B7FF;
}

.map-section {
  position: relative;
}

#map {
  height: 700px;
}
#map img {
  height: 100%;
  object-fit: cover;
}

.leaflet-popup-content {
  margin: 15px 20px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  line-height: 1.3;
  font-size: 14px;
  font-size: 1.08333em;
  min-height: 1px;
  text-transform: uppercase;
  color: #2C4058;
}

.leaflet-popup-content-wrapper {
  padding: 8px;
  text-align: center;
  border-radius: 12px;
}

element.style {
  opacity: 1;
  transform: translate3d(403px, 274px, 0px);
  bottom: -14px;
  left: -99px;
}

.contacts .container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 414px;
  z-index: 9999;
  height: 540px;
  max-width: 770px;
  background-color: #fff;
  padding: 90px 60px 68px;
  display: none;
}
@media screen and (max-width: 1199px) {
  .contacts .container {
    bottom: 150px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .contacts .container {
    bottom: 50px;
    height: auto;
    max-width: 280px;
    padding: 20px 5px 20px;
  }
}
.contacts .container.active {
  display: block;
}
@media screen and (max-width: 1199px) {
  .contacts .container .section-title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .contacts .container .section-title {
    margin-bottom: 20px;
  }
}

.contacts-section_wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 54px;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .contacts-section_wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.contacts-close-btn {
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #2C4058;
  position: absolute;
  right: -20px;
  top: -200px;
  z-index: 55;
  font-weight: 700;
  opacity: 0.7;
  transition: all 0.5s ease;
}
.contacts-close-btn:hover, .contacts-close-btn:focus {
  transform: scale(1.2);
  opacity: 1;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .contacts-close-btn {
    right: 0px;
    top: -150px;
  }
}

.contacts_wrapper {
  flex-basis: calc((100% - 54px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .contacts_wrapper {
    width: 80%;
  }
}

.contact_link_tel {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  color: #2C4058;
  transition: all 0.5s ease;
}
.contact_link_tel span {
  font-size: 17px;
  margin-right: 10px;
}
.contact_link_tel:hover, .contact_link_tel:focus {
  transform: scale(1.2);
}

.contact_map_link {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #2C4058;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1199px) {
  .contact_map_link {
    font-size: 18px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .contact_map_link {
    font-size: 16px;
  }
}
.contact_map_link span {
  font-size: 17px;
  color: #7E5AFF;
  margin-right: 10px;
}
.contact_map_link:hover, .contact_map_link:focus {
  transform: scale(1.2);
}

.contact_link_phone {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #2C4058;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1199px) {
  .contact_link_phone {
    font-size: 18px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .contact_link_phone {
    font-size: 16px;
  }
}
.contact_link_phone span {
  font-size: 17px;
  color: #7E5AFF;
  margin-right: 10px;
}
.contact_link_phone:hover, .contact_link_phone:focus {
  transform: scale(1.2);
}

.contact_link_email {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #2C4058;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1199px) {
  .contact_link_email {
    font-size: 18px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .contact_link_email {
    font-size: 16px;
  }
}
.contact_link_email span {
  font-size: 17px;
  color: #7E5AFF;
  margin-right: 10px;
}
.contact_link_email:hover, .contact_link_email:focus {
  transform: scale(1.2);
}

.contact_workhours {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #2C4058;
}
@media screen and (max-width: 1199px) {
  .contact_workhours {
    font-size: 18px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .contact_workhours {
    font-size: 16px;
  }
}
.contact_workhours span {
  font-size: 17px;
  color: #7E5AFF;
  margin-right: 10px;
}

.form_wrapper {
  flex-basis: calc((100% - 54px) / 2);
}
.form_wrapper fieldset {
  border: none;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .form_wrapper {
    width: 80%;
  }
}

.form {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.form-field:first-child {
  margin-bottom: 26px;
}

.form-input {
  position: relative;
  width: 100%;
  min-height: 48px;
  outline: transparent;
  color: #2C4058;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
  border-bottom: 1px solid rgba(44, 64, 88, 0.5);
  overflow: visible;
}
@media screen and (max-width: 1199px) {
  .form-input {
    font-size: 18px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .form-input {
    font-size: 16px;
  }
}
.form-input::placeholder {
  position: absolute;
  bottom: 14px;
  left: 0px;
  z-index: 2;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
}
@media screen and (max-width: 1199px) {
  .form-input::placeholder {
    font-size: 18px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .form-input::placeholder {
    font-size: 16px;
  }
}
.form-input:hover, .form-input:focus {
  border-color: #2C4058;
}

.btn-submit {
  width: max-content;
  display: block;
  position: relative;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 27px;
  color: #2C4058;
  background-color: transparent;
  transition: all 0.5s ease;
  padding: 11px 34px;
  border: 1px solid #2C4058;
  padding: 11px 34px 12px;
  margin: 30px 0px 0px auto;
}
@media screen and (max-width: 1199px) {
  .btn-submit {
    font-size: 16px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .btn-submit {
    font-size: 18px;
  }
}
.btn-submit:hover, .btn-submit:focus {
  color: #FFF;
  background-color: #55B7FF;
  border: 2px solid #55B7FF;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .btn-submit {
    margin: 30px auto 0px auto;
  }
}
.btn-submit:disabled {
  opacity: 0.3;
}
.btn-submit:disabled:hover, .btn-submit:disabled:focus {
  pointer-events: none;
  color: #2C4058;
  background-color: transparent;
  border: 1px solid #2C4058;
}

.form-text.error {
  color: #f00;
}

.form-text {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 0.8em;
  color: #55b7ff;
  font-style: italic;
}

.footer {
  position: relative;
}
.footer .get-intouch {
  width: max-content;
  display: block;
  position: relative;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 27px;
  color: #2C4058;
  background-color: transparent;
  transition: all 0.5s ease;
  padding: 11px 34px;
  border: 1px solid #2C4058;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
  padding: 11px 11px;
  color: #FFF;
  border: 2px solid #FFF;
  transition: all 0.9s ease;
  border-radius: 10px;
  background-color: transparent;
}
@media screen and (max-width: 1199px) {
  .footer .get-intouch {
    font-size: 16px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .footer .get-intouch {
    font-size: 18px;
  }
}
.footer .get-intouch:hover, .footer .get-intouch:focus {
  color: #FFF;
  background-color: #55B7FF;
  border: 2px solid #55B7FF;
}
.footer .get-intouch:hover, .footer .get-intouch:focus {
  color: #2C4058;
  border: 2px solid #2C4058;
  background-color: transparent;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .footer .get-intouch {
    font-size: 10px;
    padding: 1px 5px;
    top: 10px;
  }
}
.footer .logo-wrapper {
  width: 241px;
  height: 54px;
}
@media screen and (max-width: 1199px) {
  .footer .logo-wrapper {
    width: 140px;
    height: auto;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .footer .logo-wrapper {
    width: 120px;
    height: auto;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .footer .logo-wrapper {
    margin-top: 40px;
  }
}

.footer {
  background-image: url(../assets/images/footerBg-desktop-2x.png), linear-gradient(237deg, #24ccfa 11.16%, #3c7fd4 89.18%);
  background-position: center top, center top;
  background-repeat: no-repeat;
  background-size: 100% 800px;
}
.footer .container {
  padding: 209px 200px 234px 200px;
}
@media screen and (max-width: 1199px) {
  .footer .container {
    padding: 100px 100px 100px 100px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .footer .container {
    padding: 50px 50px 50px 50px;
  }
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .footer_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}

@media screen and (min-width: 306px) and (max-width: 767px) {
  .footer .social-links-wrapper {
    padding-right: 0;
  }
}

.copyright-box {
  text-align: center;
}

.footer-copyright {
  text-align: left;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #FFF;
  margin-top: 40px;
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .footer-copyright {
    font-size: 12px;
  }
}
@media screen and (min-width: 306px) and (max-width: 767px) {
  .footer-copyright {
    margin-top: 0;
    text-align: center;
  }
}

@media screen and (min-width: 260px) and (max-width: 767px) {
  .header.menu-open::after {
    content: "";
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .main_nav {
    padding: 0;
  }

  .nav_link {
    display: block;
    color: #FFF;
    font-family: "SourceSansPro";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 28px 15px;
  }
}
@media screen and (min-width: 260px) and (max-width: 767px) and (max-width: 1199px) {
  .nav_link {
    font-size: 18px;
  }
}
@media screen and (min-width: 260px) and (max-width: 767px) {
  .nav_link:focus, .nav_link:hover {
    color: #FFF;
    background-color: #55B7FF;
  }
}
@media screen and (min-width: 260px) and (max-width: 767px) {
  .header .nav_list {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: 6;
    height: 80vh;
    width: 90%;
    background-color: #2C4058;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    transition: all 1s ease;
    transform: translateY(-100vH);
    opacity: 0;
    padding-top: 60px;
  }
  .header .nav_list .nav_item {
    list-style-type: none;
  }
  .header .nav_list .nav_link {
    font-size: 23px;
    font-weight: 700;
    text-align: center;
  }
  .header .nav_list .nav_link:focus, .header .nav_list .nav_link:hover {
    color: #55B7FF;
    background-color: transparent;
  }
  .header .nav_list.active {
    transform: none;
    opacity: 1;
  }
  .header .nav_list:hover .nav_item::after {
    background-color: #55B7FF;
  }
}
@media screen and (min-width: 260px) and (max-width: 767px) {
  .header .nav_list .nav_item::after {
    content: "";
    width: 44px;
    height: 3px;
    position: absolute;
    background-color: rgba(85, 183, 255, 0.3);
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 260px) and (max-width: 767px) {
  .hamburger {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: -5px;
    z-index: 999;
    transition: all 0.3s ease;
  }
  .hamburger .hamburger-inner, .hamburger .hamburger-inner::after, .hamburger .hamburger-inner::before {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .hamburger.is-active {
    transform: translatex(-40px);
  }
  .hamburger.is-active .hamburger-inner {
    color: rgba(255, 255, 255, 0.9);
  }
}
@media screen and (min-width: 260px) and (max-width: 767px) {
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
    background-color: #fff;
  }
}
@media screen and (min-width: 260px) and (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
}
@media screen and (min-width: 260px) and (max-width: 767px) {
  .logo-wrapper {
    height: initial;
  }
}
@media screen and (min-width: 260px) and (max-width: 767px) {
  .arrow-left, .arrow-right {
    display: none;
  }
}
@media screen and (min-width: 260px) and (max-width: 767px) {
  .footer.active {
    display: none;
  }
}
.slick-slide {
  height: auto;
}

.hero .slick-list {
  overflow: hidden;
}

.hero .slick-slider {
  width: 100%;
}

.hero .slick-track {
  display: flex;
  flex-direction: column;
}

.hero .slick-dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10px;
  gap: 40px;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
}
.hero .slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #fff;
  color: transparent;
  cursor: pointer;
}
.hero .slick-dots li button:before {
  display: inline-block;
  font-size: 10px;
  width: 10px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
}
.hero .slick-dots li button :hover button::before,
.hero .slick-dots li button :focus button::before {
  color: #55B7FF;
}
.hero .slick-dots li.slick-active button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.hero .slick-dots li.slick-active button::before {
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 1;
}

.news .slick-track {
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 180px) and (max-width: 305px) {
  .news .slick-track {
    gap: 0;
  }
}

.news .slick-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10px;
  gap: 40px;
  left: 0;
  bottom: -45px;
  transform: translateY(-50%);
  justify-content: center;
}
.news .slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #fff;
  color: transparent;
  cursor: pointer;
}
.news .slick-dots li button:before {
  display: inline-block;
  font-size: 10px;
  width: 10px;
  height: 10px;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  color: transparent;
}
.news .slick-dots li button :hover button::before,
.news .slick-dots li button :focus button::before {
  color: #55B7FF;
}
.news .slick-dots li.slick-active button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.news .slick-dots li.slick-active button::before {
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 1;
}

.news .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
}
.news .slick-arrow.slick-prev {
  left: -60px;
  border-radius: 50%;
  background: url("../assets/images/arrow-left.svg") 0 0/100% no-repeat;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1199px) {
  .news .slick-arrow.slick-prev {
    left: -20px;
  }
}
.news .slick-arrow.slick-prev:hover, .news .slick-arrow.slick-prev:focus {
  background: url("../assets/images/arrow-left.svg") 0 0/100% no-repeat;
  background-color: rgba(32, 32, 32, 0.2);
}
.news .slick-arrow.slick-prev:before {
  content: none;
}
.news .slick-arrow.slick-next {
  border-radius: 50%;
  right: -60px;
  background: url("../assets/images/arrow-right.svg") 0 0/100% no-repeat;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1199px) {
  .news .slick-arrow.slick-next {
    right: -20px;
  }
}
.news .slick-arrow.slick-next:hover, .news .slick-arrow.slick-next:focus {
  background: url("../assets/images/arrow-right.svg") 0 0/100% no-repeat;
  background-color: rgba(32, 32, 32, 0.2);
}
.news .slick-arrow.slick-next:before {
  content: none;
}

.to-top {
  background: rgba(85, 183, 255, 0.5);
  position: fixed;
  z-index: 999;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #FFF;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top:hover {
  background: #55b7ff;
  color: #fff;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}